#app {
  height: 100vh;
  width: 100vw;
}
/*
#map-screen {
  width: 100%;
  height: 90%;
}

#options {
  height: 10%;
  width: 100%;
  background-color: #8aaae5;
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 100px;
}

#new-spot-form {
  height: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #8aaae5;
}
#new-spot-form h1 {
  color: #fbfbfb;
}
#new-spot-form form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #3423a6;
  padding: 20px;
  border-radius: 20px;
  color: white;
  border: 2px solid #fbfbfb;
  gap: 20px;
  max-width: 75%;
  min-width: 400px;
}

.formItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.formItem input {
  padding: 4px;
}

.formItem textarea {
  padding: 4px;
  resize: none;
}

.itemDiv {
  border-bottom: 2px solid #d00000;
  width: 80%;
}

.imageUpload {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.imageUpload input {
  border: 2px solid #fbfbfb;
  padding: 5px;
}

.imageDisplay {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 90%;
  gap: 10px;
  padding-bottom: 5px;
  overflow-x: auto;
}

.imageDisplay::-webkit-scrollbar {
  background-color: #0b3954;
  border-radius: 5px;
  height: 5px;
}

.imageDisplay::-webkit-scrollbar-thumb {
  background-color: #d00000;
  border-radius: 5px;
}

.imageDisplay img {
  max-height: 200px;
}

#new-spot-form form button {
  width: auto;
  padding: 5px;
  font-size: large;
  border-radius: 15px;
  border: none;
  background-color: #8aaae5;
  color: #fbfbfb;
}

.Popup {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 40px;
}

#spot-marker {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.marker-more-div {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
}

#spot-marker button {
  padding: 5px;
  font-size: small;
  background-color: #8aaae5;
  border: none;
  border-radius: 10px;
}

#spot-expanded {
  background-color: rgb(255, 255, 250);
  height: 100%;
}

#spot-expanded-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.spot-expanded-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  background-color: #8aaae5;
  width: 100%;
}

.spot-info-div {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  width: 100%;
}

.spot-expanded-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 65%;
  object-fit: contain;
}

.img-single {
  max-height: 200px;
}
.image-show {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  padding-left: 180px;
  padding-right: 20px;
  padding-bottom: 5px;
  gap: 10px;
}

.image-show::-webkit-scrollbar {
  background-color: #0b3954;
  height: 10px;
  border-radius: 5px;
}

.image-show img {
  border: 2px solid #0b0a07;
  border-radius: 5px;
}

.image-show::-webkit-scrollbar-thumb {
  background-color: #8aaae5;
  border-radius: 5px;
}

.description {
  max-height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.description span {
  font-weight: bold;
  text-decoration: underline;
}

.expanded-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider {
  border-bottom: 2px solid #0b3954;
}

.spot-expanded-bottom {
  max-height: 40%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
  position:static;
}

.spotForm {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0px;
}

.comments {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  gap: 5px;
  padding-top: 10px;
  flex: 2;
  padding-left: 5%;
  padding-right: 5%;
}


.add-comment {
  height: 100%;
  padding: 5px;
  color: white;
  background-color: #172446;
  border: #0b0a07 1px solid;
  border-radius: 0px 8px 8px 0px;
}

.add-comment:hover {
  background-color: #263763;
}

.create-comment {
  padding: 2px;
  resize: none;
  border: #0b0a07 solid 1px;
  border-radius: 8px 0px 0px 8px;
  flex: 2;
}

.comment {
  display: flex;
  width: fit-content;
  background-color: #fbfbfb;
  border: #172446 3px solid;
  border-radius: 23px;
  align-items: stretch;
  margin: 5px;
  min-height: 40px;
}

.comment-author {
  background-color: #8aaae5;
  color: white;
  font-size: 18px;
  padding: 5px;
  min-height: 40px;
  min-width: 40px;
  border-radius: 20px 0px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-comment {
  background-color: #3423a6;
}

.comment p {
  padding: 10px;
}

.comment-display {
  max-height: 200px;
  overflow-y: scroll;
  width: 100%;
  padding: 5px;
}

.comment-display::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

.comment-display::-webkit-scrollbar-track {
  background-color: #0b0a07;
  border-radius: 5px;
}

.comment-display::-webkit-scrollbar-thumb {
  background-color: #8aaae5;
  border-radius: 5px;
}



.formSide {
  width: 50%;
  background-color: #8aaae5;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formSide form {
  background-color: #ffffff;
  color: black;
  padding: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  min-width: 50%;
  font-size: 18px;
}

.login-form-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.login-form-item input {
  padding: 5px;
  border-radius: 7px;
  font-size: 18px;
  width: 300px;
}

.btnDiv{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.login-button {
  width: 130px;
  padding: 5px;
  background-color: #3423a6;
  font-size: 15px;
  border: 0px;
  border-radius: 10px;
  color: white;
}

.logoSide {
  height: 100%;
  background-image: url("./assets/loginBackground.jpg");
  background-size: cover;
  background-position: center;
  width: 50%;
}

.logoDiv {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100px;
  margin-top: min(200px, 30%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoDiv {
  color: white;
}

.login-form-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#profile {
  height: 100%;
  background-color: rgb(255, 255, 250);
}

.profile-top-bar {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #8aaae5;
  padding: 10px;
  z-index: 2;
}

#profile-body {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
}

.profile-field {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  flex: 2;
}

.your-spots {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  height: fit-content;
}

.profile-spot {
  border: 3px black solid;
  border-radius: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;
  min-width: 200px;
  background-color: #172446;
  height: 150px;
  box-sizing: content-box;
  position: relative;
}

.profile-item {
  display: flex;
  justify-content: center;
}

.field-divider {
  grid-column: span 3;
  border: 1px solid #0b0a07;
}

.logout {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.profile-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-spot-info {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  color: white;
  padding: 10px;
}

.image-side {
  height: 150px;
}

.image-side img {
  width: auto;
  height: 100%;
  border-radius: 0px 6px 6px 0px;
}


.delete {
  border: none;
  background-color: #de1a1a;
  color: white;
  height: fit-content;
  font-size: 20px;
  border-radius: 0px 6px 0px 0px;
  z-index: 2;
  position: absolute;
}

.likes {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  font-size: 4rem;
}

.deleteCheck {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -20px;
}

.delete-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #3423a6;
  color: white;
  padding: 10px;
  border: 2px solid #d00000;
  border-radius: 5px;
  gap: 10px;
}

.close-icon {
  align-self: flex-end;
}

.delete-box input {
  padding: 5px;
}

#not-found {
  height: 100%;
  background-image: url("./assets/eror404page.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.add-spot-button {
  border: none;
  border-radius: 5px;
  padding: 8px;
  background-color: #8aaae5;
}

.back-button {
  background-color: #3423a6;
  border-radius: 40px;
  padding: 5px;
  border: none;
}

.back-link {
  align-self: flex-start;
}

.dashboard {
  height: 100%;
}

.problem-display {
  color: red;
  font-weight: bolder;
}

.challenges {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
  flex: 2;
  padding-top: 10px;
  padding-right: 5%;
}

.challenge {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #3423a6;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.challenges-display {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}

.profile-challenge {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #8aaae5;
  border: 3px solid #0b0a07;
  border-radius: 5px;
  padding: 20px;
  color: white;
  gap: 10px;
} */
